/* CONFIG */

//fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
$font-overpass: 'Overpass', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

// colors
//primary
$color-light-red: hsl(356, 100%, 66%); // CTA text
$color-very-light-red: hsl(355, 100%, 74%); // CTA hover background
$color-very-dark-blue: hsl(208, 49%, 24%); // headings
// neutral
$color-white: hsl(0, 0%, 100%); // text
$color-grayish-blue: hsl(240, 2%, 79%); // footer text
$color-very-grayish-blue: hsl(207, 13%, 34%); // body copy
$color-very-dark-black-blue: hsl(240, 10%, 16%); // footer background
// background gradients
$gradient-linear-red: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)); // intro, CTA mobile nav
$gradient-linear-red-two: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); // intro, CTA mobile nav
$gradient-linear-dark-blue: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%)); // body

// reset and presets
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
ul,
ol {
  text-decoration: none;
  color: unset;
  list-style: none;
}

body {
  font-size: 16px;
}
